<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info" >

	<extensions>
		<add assembly="NLog.Targets.Http" />
	</extensions>

	<targets>
		<target xsi:type="ColoredConsole" name="consoleTarget" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
		<target name="fileTarget" xsi:type="File" fileName="log.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />		
	</targets>

	<rules>
		<logger name="consoleLogger" minlevel="Info" writeTo="consoleTarget" final="true" />
		<logger name="fileLogger" minlevel="Info" writeTo="fileTarget" final="true" />
	</rules>
</nlog>